.navbar {
    position: fixed;
    top: 0;
    clear: both;
    background-color: #171717;
    color: white;
    /* padding: 10px; */
    width: 100vw;
    z-index: 1;
    transition: transform .5s, opacity .5s;

    height: 50px;
}


.hide {
    transform: translateY(-10vh);
    /* opacity: 0; */
}

.ul {
    display: flex;
    /* gap: 10px; */
    font-family: Arial, Helvetica, sans-serif;
}

.li-item {
    list-style: none;
    padding: 15px;
}

.li-item:hover {
    background-color: #1E1E1E;
    cursor: pointer;
    color: #FFA10A
}

.li-link {
    text-decoration: none;
    color: white;
}

.li-link-active {
    color: orange;
}