* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #020202;
    /* padding-top: 30px; */
    color: white;
}


.invisible {
    opacity: 0;
    transform: translateX(-10vw);
}

.visible {
    opacity: 1;
}

